body {
    background-image: url("./media/cubalamp.jpg");
}

body::after{
    content: ' \00A9';
    font-size: 42px;
    font-weight: bold;
}

p {
    font-family: 'Courier New', monospace;
    text-align: center;  
}

p, h1, h2, h4 {
    background-color: black;
}

p, h1, h2, h4 {
    color: whitesmoke;
    opacity: 0.75;
}

h1 {
    font-family: 'Franklin Gothic Medium', serif;
    font-size: 48px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;   
}

h2, h4 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin-left: 100px;
    margin-right: 650px;
}

video {
    border-style: ridge;
    border-color: black;
    border-width: 5px;
    border-radius: 5%;
    margin-left: 100px;
}

.cars img {
    border-style: dotted;
    border-color: rgb(133, 146, 219);
    border-width: 3px;
    border-radius: 100%;
    width: 200px;
    height: 200px;

}

.buildings img {
    border-style: double;
    border-color: rgb(66, 6, 6);
    border-width: 7px;
    border-radius: 15%;
    margin: 10px 2px
}

#flag {
    width: 500px;
    height: 125px;
}